.swipeUp {
  animation: swipeup 1s infinite ease-in-out;
  -webkit-animation: swipeup 1s infinite ease-in-out;
  display: block;
}

@-webkit-keyframes swipeup {
  0% {
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes swipeup {
  0% {
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0px);
  }
}

.shakes2 {
  animation: shakeb 400ms 6 alternate ease-in-out;
  -webkit-animation: shakeb 400ms 6 alternate ease-in-out;
  display: block;
}

@-webkit-keyframes shakeb {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes shakeb {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}


.readyfly {
  animation: readyfly 0.4s infinite alternate;
  -webkit-animation: readyfly 0.4s infinite alternate;
  -o-animation: readyfly 0.4s infinite alternate;
  -moz-animation: readyfly 0.4s infinite alternate;
}

@keyframes readyfly {
  0% {
    transform: translate(-1px, -2px);
  }

  30% {
    transform: translate(0px, -2px);
  }

  50% {
    transform: translate(2px, -2px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  95% {
    transform: translate(0px, -2px);
  }

  100% {
    transform: translate(-1px, -2px);
  }
}

@-webkit-keyframes readyfly {
  0% {
    transform: translate(-2px, -4px);
  }

  30% {
    transform: translate(0px, -3px);
  }

  50% {
    transform: translate(3px, -3px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(3px, -3px);
  }

  95% {
    transform: translate(0px, -3px);
  }

  100% {
    transform: translate(-2px, -4px);
  }
}

@-o-keyframes readyfly {
  0% {
    transform: translate(-2px, -4px);
  }

  30% {
    transform: translate(0px, -3px);
  }

  50% {
    transform: translate(3px, -3px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(3px, -3px);
  }

  95% {
    transform: translate(0px, -3px);
  }

  100% {
    transform: translate(-2px, -4px);
  }
}

@-moz-keyframes readyfly {
  0% {
    transform: translate(-2px, -4px);
  }

  30% {
    transform: translate(0px, -3px);
  }

  50% {
    transform: translate(3px, -3px);
  }

  60% {
    transform: translate(-1px, -1px);
  }

  90% {
    transform: translate(3px, -3px);
  }

  95% {
    transform: translate(0px, -3px);
  }

  100% {
    transform: translate(-2px, -4px);
  }
}

.piaoluo {
  animation: piaoluo 4s ease;
  -webkit-animation: piaoluo 4s ease;
  -o-animation: piaoluo 4s ease;
  -moz-animation: piaoluo 4s ease;
}

@keyframes piaoluo {
  0% {
    transform: translate(-30px, -40px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -30px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -5px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes piaoluo {
  0% {
    transform: translate(-30px, -40px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -30px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -5px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-o-keyframes piaoluo {
  0% {
    transform: translate(-30px, -40px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -30px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -5px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-moz-keyframes piaoluo {
  0% {
    transform: translate(-30px, -40px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -30px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -5px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

.piaoluob {
  animation: piaoluob 4s ease;
  -webkit-animation: piaoluob 4s ease;
  -o-animation: piaoluob 4s ease;
  -moz-animation: piaoluob 4s ease;
}

@keyframes piaoluob {
  0% {
    transform: translate(-10px, -30px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -20px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes piaoluob {
  0% {
    transform: translate(-10px, -30px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -20px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-o-keyframes piaoluob {
  0% {
    transform: translate(-10px, -30px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -20px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-moz-keyframes piaoluob {
  0% {
    transform: translate(-10px, -30px) rotate(30deg);
    opacity: 0.1;
  }

  30% {
    transform: translate(0px, -20px) rotate(-30deg);
    opacity: 0.8;
  }

  60% {
    transform: translate(-15px, -15px) rotate(15deg);
    opacity: 1;
  }

  90% {
    transform: translate(5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

.piaoluoc {
  animation: piaoluoc 4s ease;
  -webkit-animation: piaoluoc 4s ease;
  -o-animation: piaoluoc 4s ease;
  -moz-animation: piaoluoc 4s ease;
}

@keyframes piaoluoc {
  0% {
    transform: translate(10px, -30px) rotate(20deg);
    opacity: 0.1;
  }

  34% {
    transform: translate(0px, -15px) rotate(-30deg);
    opacity: 0.8;
  }

  56% {
    transform: translate(15px, -5px) rotate(12deg);
    opacity: 1;
  }

  88% {
    transform: translate(-5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes piaoluoc {
  0% {
    transform: translate(10px, -30px) rotate(20deg);
    opacity: 0.1;
  }

  34% {
    transform: translate(0px, -15px) rotate(-30deg);
    opacity: 0.8;
  }

  56% {
    transform: translate(15px, -5px) rotate(12deg);
    opacity: 1;
  }

  88% {
    transform: translate(-5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-o-keyframes piaoluoc {
  0% {
    transform: translate(10px, -30px) rotate(20deg);
    opacity: 0.1;
  }

  34% {
    transform: translate(0px, -15px) rotate(-30deg);
    opacity: 0.8;
  }

  56% {
    transform: translate(15px, -5px) rotate(12deg);
    opacity: 1;
  }

  88% {
    transform: translate(-5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

@-moz-keyframes piaoluoc {
  0% {
    transform: translate(10px, -30px) rotate(20deg);
    opacity: 0.1;
  }

  34% {
    transform: translate(0px, -15px) rotate(-30deg);
    opacity: 0.8;
  }

  56% {
    transform: translate(15px, -5px) rotate(12deg);
    opacity: 1;
  }

  88% {
    transform: translate(-5px, -2px) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}

.saomiao {
  animation: saomiao 2s linear infinite alternate;
  -webkit-animation: saomiao 2s linear infinite alternate;
  -o-animation: saomiao 2s linear infinite alternate;
  -moz-animation: saomiao 2s linear infinite alternate;
}

@keyframes saomiao {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(200%)
  }
}

@-webkit-keyframes saomiao {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(200%)
  }
}

@-o-keyframes saomiao {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(200%)
  }
}

@-moz-keyframes saomiao {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
    opacity: 1;
    transform: translateY(200%)
  }
}

.left_bigger {
  animation: leftbigger 1.5s ease-in-out;
  -webkit-animation: leftbigger 1.5s ease-in-out;
  -o-animation: leftbigger 1.5s ease-in-out;
  -moz-animation: leftbigger 1.5s ease-in-out;
}

@keyframes leftbigger {
  0% {
    transform: scale(0, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

@-webkit-keyframes leftbigger {
  0% {
    transform: scale(0, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

@-o-keyframes leftbigger {
  0% {
    transform: scale(0, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

@-moz-keyframes leftbigger {
  0% {
    transform: scale(0, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

.right_in {
  animation: rightin 1.5s ease-in-out;
  -webkit-animation: rightin 1.5s ease-in-out;
  -o-animation: rightin 1.5s ease-in-out;
  -moz-animation: rightin 1.5s ease-in-out;


}

@keyframes rightin {
  0% {
    transform: translate(300px, 0)
  }

  90% {
    transform: translate(-10px, 0)
  }

  95% {
    transform: translate(10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-webkit-keyframes rightin {
  0% {
    transform: translate(300px, 0)
  }

  90% {
    transform: translate(-10px, 0)
  }

  95% {
    transform: translate(10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-o-keyframes rightin {
  0% {
    transform: translate(300px, 0)
  }

  90% {
    transform: translate(-10px, 0)
  }

  95% {
    transform: translate(10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-moz-keyframes rightin {
  0% {
    transform: translate(300px, 0)
  }

  90% {
    transform: translate(-10px, 0)
  }

  95% {
    transform: translate(10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

.left_inb {
  animation: leftinb 2s;
  -webkit-animation: leftinb 2s;
  -o-animation: leftinb 2s;
  -moz-animation: leftinb 2s;


}

@keyframes leftinb {
  from {
    transform: translate(400px, 0);
  }

  to {
    transform: translate(0px, 0);
  }
}

@-webkit-keyframes leftinb {
  from {
    transform: translate(400px, 0);
  }

  to {
    transform: translate(0px, 0);
  }
}

@-o-keyframes leftinb {
  from {
    transform: translate(400px, 0);
  }

  to {
    transform: translate(0px, 0);
  }
}

@-moz-keyframes leftinb {
  from {
    transform: translate(400px, 0);
  }

  to {
    transform: translate(0px, 0);
  }
}

.left_in {
  animation: leftin 1.5s ease-in-out;
  -webkit-animation: leftin 1.5s ease-in-out;
  -o-animation: leftin 1.5s ease-in-out;
  -moz-animation: leftin 1.5s ease-in-out;


}

@keyframes leftin {
  0% {
    transform: translate(-300px, 0)
  }

  90% {
    transform: translate(10px, 0)
  }

  95% {
    transform: translate(-10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-webkit-keyframes leftin {
  0% {
    transform: translate(-300px, 0)
  }

  90% {
    transform: translate(10px, 0)
  }

  95% {
    transform: translate(-10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-o-keyframes leftin {
  0% {
    transform: translate(-300px, 0)
  }

  90% {
    transform: translate(10px, 0)
  }

  95% {
    transform: translate(-10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}

@-moz-keyframes leftin {
  0% {
    transform: translate(-300px, 0)
  }

  90% {
    transform: translate(10px, 0)
  }

  95% {
    transform: translate(-10px, 0)
  }

  100% {
    transform: translate(0px, 0)
  }
}


.rotato_in {
  animation: rotatoin 3s;
  -webkit-animation: rotatoin 3s;
  -o-animation: rotatoin 3s;
  -moz-animation: rotatoin 3s;


}

@keyframes rotatoin {
  from {
    transform: rotate(180deg) scale(1.5);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

@-webkit-keyframes rotatoin {
  from {
    transform: rotate(180deg) scale(1.5);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

@-o-keyframes rotatoin {
  from {
    transform: rotate(180deg) scale(1.5);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

@-moz-keyframes rotatoin {
  from {
    transform: rotate(180deg) scale(1.5);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

.rotato_360 {
  animation: rotatoA 2s;
  -webkit-animation: rotatoA 2s;
  -o-animation: rotatoA 2s;
  -moz-animation: rotatoA 2s;


}

@keyframes rotatoA {
  from {
    transform: rotate(1720deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotatoA {
  from {
    transform: rotate(1720deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-o-keyframes rotatoA {
  from {
    transform: rotate(1720deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-moz-keyframes rotatoA {
  from {
    transform: rotate(1720deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.bigger {
  animation: bigger 3s;
  -webkit-animation: bigger 3s;
  -o-animation: bigger 3s;
  -moz-animation: bigger 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

}


.bigger1 {
  transform: scale(1);
}

@keyframes bigger {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

@-webkit-keyframes bigger {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

@-o-keyframes bigger {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}

@-moz-keyframes bigger {
  from {
    transform: scale(0.2);
  }

  to {
    transform: scale(1);
  }
}


.blink {
  animation: blink 1s forwards;
  -webkit-animation: blink 1s forwards;
  -o-animation: blink 1s forwards;
  -moz-animation: blink 1s forwards;

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  display: block !important;
  animation: blink 1s forwards;
  -webkit-animation: blink 1s forwards;
  -o-animation: blink 1s forwards;
  -moz-animation: blink 1s forwards;

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.zhongbai {
  animation: zhongbai 3s infinite alternate ease;
  -webkit-animation: zhongbai 3s infinite alternate ease;
  -o-animation: zhongbai 3s infinite alternate ease;
  -moz-animation: zhongbai 3s infinite alternate ease;
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
}

@keyframes zhongbai {
  0% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(16deg);
  }
}

@-webkit-keyframes zhongbai {
  0% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(16deg);
  }
}

@-o-keyframes zhongbai {
  0% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(16deg);
  }
}

@-moz-keyframes zhongbai {
  0% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(16deg);
  }
}

.pointoLeft {

  animation: pointoLeft 1s infinite alternate;
  -webkit-animation: pointoLeft 1s infinite alternate;
  -o-animation: pointoLeft 1s infinite alternate;
  -moz-animation: pointoLeft 1s infinite alternate;
}

@keyframes pointoLeft {
  100% {
    opacity: 0.3;
    transform: translate(14px, 0)
  }

  0% {
    opacity: 1;
    ;
    transform: translate(0, 0)
  }
}

@-webkit-keyframes pointoLeft {
  100% {
    opacity: 0.3;
    transform: translate(14px, 0)
  }

  0% {
    opacity: 1;
    ;
    transform: translate(0, 0)
  }
}

@-o-keyframes pointoLeft {
  100% {
    opacity: 0.3;
    transform: translate(14px, 0)
  }

  0% {
    opacity: 1;
    ;
    transform: translate(0, 0)
  }
}

@-moz-keyframes pointoLeft {
  100% {
    opacity: 0.3;
    transform: translate(14px, 0)
  }

  0% {
    opacity: 1;
    ;
    transform: translate(0, 0)
  }
}

.opacityshow {
  display: block !important;
  animation: opacityshow 1s;
  -webkit-animation: opacityshow 1s;
  -o-animation: opacityshow 1s;
  -moz-animation: opacityshow 1s;
}

@keyframes opacityshow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacityshow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes opacityshow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes opacityshow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.shakes {
  animation: shake 500ms 100ms;
  -webkit-animation: shake 500ms 100ms;

}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  10% {
    -webkit-transform: translate3d(-1.333333333333333rem, 0, 0);
    transform: translate3d(-1.333333333333333rem, 0, 0)
  }

  20% {
    -webkit-transform: translate3d(.5333333333333333rem, 0, 0);
    transform: translate3d(.5333333333333333rem, 0, 0)
  }

  30% {
    -webkit-transform: translate3d(-.5333333333333333rem, 0, 0);
    transform: translate3d(-.5333333333333333rem, 0, 0)
  }

  40% {
    -webkit-transform: translate3d(.5333333333333333rem, 0, 0);
    transform: translate3d(.5333333333333333rem, 0, 0)
  }

  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-.2666666666666667rem, 0, 0);
    transform: translate3d(-.2666666666666667rem, 0, 0)
  }

  60%,
  80% {
    -webkit-transform: translate3d(.2666666666666667rem, 0, 0);
    transform: translate3d(.2666666666666667rem, 0, 0)
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  10% {
    -webkit-transform: translate3d(-1.333333333333333rem, 0, 0);
    transform: translate3d(-1.333333333333333rem, 0, 0)
  }

  20% {
    -webkit-transform: translate3d(.5333333333333333rem, 0, 0);
    transform: translate3d(.5333333333333333rem, 0, 0)
  }

  30% {
    -webkit-transform: translate3d(-.5333333333333333rem, 0, 0);
    transform: translate3d(-.5333333333333333rem, 0, 0)
  }

  40% {
    -webkit-transform: translate3d(.5333333333333333rem, 0, 0);
    transform: translate3d(.5333333333333333rem, 0, 0)
  }

  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-.2666666666666667rem, 0, 0);
    transform: translate3d(-.2666666666666667rem, 0, 0)
  }

  60%,
  80% {
    -webkit-transform: translate3d(.2666666666666667rem, 0, 0);
    transform: translate3d(.2666666666666667rem, 0, 0)
  }
}


.shakesb {
  animation: shakeb 500ms 100ms;
  -webkit-animation: shakeb 500ms 100ms;

}

@-webkit-keyframes shakeb {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  10% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0)
  }

  20% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }

  30% {
    -webkit-transform: translate3d(--4px, 0, 0);
    transform: translate3d(-4px, 0, 0)
  }

  40% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }

  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0)
  }

  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0)
  }
}

@keyframes shakeb {

  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  10% {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0)
  }

  20% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }

  30% {
    -webkit-transform: translate3d(--4px, 0, 0);
    transform: translate3d(-4px, 0, 0)
  }

  40% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }

  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0)
  }

  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0)
  }
}
