* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: auto;
}

body {
  font-size: 0.373333333333rem;
  -webkit-overflow-scrolling: auto;
  font-family: arial;
}

.bg_redF36 {
  background-color: #ff3633 !important
}

.bg_fff {
  background-color: #fff !important
}

.bg_38 {
  background-color: #383838 !important
}

.bg_ef {
  background-color: #efefef !important
}

.winswipeUp {
  position: relative;
  width: 100vw;
  height: calc(100vh - 1.333333333333rem);
  overflow: hidden;
  font-size: 0.64rem;
  background: url(../img/wapbg.jpg) center 100% no-repeat;
  -webkit-overflow-scrolling: auto;
}

a {
  color: #3d6cbe;
}

li {
  list-style-type: none;
}

.loading {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999;
  line-height: 100vh;
  font-size: 0.64rem;
  text-align: center;
}

.winswipeUp section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1.333333333333rem;
  transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  display: none;
  font-size: 0.64rem;
  color: #3a3a3a;
  overflow: hidden;

}

.winswipeUp section.active {
  left: 0;
  top: 0;
  z-index: 2000;
  display: block;
  transform: scale(1);
  opacity: 1;

}

.winswipeUp.style1 section.next {
  left: 0;
  top: 30%;
  z-index: 99;
  display: block;
  opacity: 0;
  transform: scale(0.8);
}

.winswipeUp.style1 section.before {
  left: 0;
  top: -30%;
  z-index: 1999;
  display: block;
  opacity: 0;
  transform: scale(1.2);
}

.winswipeUp.style2 section.next {
  left: 0;
  top: 100%;
  z-index: 99;
  display: block;
  opacity: 0;
  transform: scale(1);
}

.winswipeUp.style2 section.before {
  left: 0;
  top: -100%;
  z-index: 1999;
  display: block;
  opacity: 0;
  transform: scale(1);
}

.sildeDirect section.next {
  left: 0 !important;
  top: 100% !important;
}

.sildeDirect section.before {
  left: 0 !important;
  top: -100% !important;
}

.sildeDirect1 section.next {
  left: 100% !important;
  top: 0 !important;
}

.sildeDirect1 section.before {
  left: -100% !important;
  top: 0 !important;
}

.se_con {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;


}

.se_con h2 {
  position: absolute;
  font-size: 0.96rem;
  color: #614100;
  text-align: center;
  width: 100%;
  top: 3%;
  left: 0;
  font-weight: 300;
  margin-top: 0;
}

.se_con h2 img {
  width: 100%;
}

.hide_important {
  display: none !important;
}

.width100pre {
  width: 100% !important;
}

.width90pre {
  width: 90% !important;
}

.width80pre {
  width: 80% !important;
}

.width70pre {
  width: 70% !important;
}

.width60pre {
  width: 60% !important;
}

.width50pre {
  width: 50% !important;
}

.width40pre {
  width: 40% !important;
}

.width30pre {
  width: 30% !important;
}

.width20pre {
  width: 20% !important;
}

.width10pre {
  width: 10% !important;
}


.height80px {
  height: 2.133333333333rem;
}

.left0 {
  left: 0;
}

.right0 {
  right: 0;
}

.se_con .imgBoxas {
  position: absolute;
  width: 100%;
  /* height: 70%; */
  bottom: 0;
}

ul.page_li {
  position: fixed;
  text-align: center;
  left: 50%;
  bottom: 1.466666666667rem;
  margin-left: -0.933333333333rem;
  z-index: 2001;
}

ul.page_li li {
  float: left;
  width: 0.16rem;
  height: 0.16rem;
  margin: 0.133333333333rem 0.053333333333rem;
  background: transparent;
  border: 0.053333333333rem solid #ecb974;
  border-radius: 50%;

}

ul.page_li li.active {
  background: #ffd400;
  border: 0.053333333333rem solid #df8000;
}



.animateBox {
  position: relative;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.paused {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.positionAbsolute {
  position: absolute !important;

}

.positionRelative {
  position: relative !important;

}

.top200px {
  top: 5.333333333333rem;
}

.left0px {
  left: 0;
}


.mt_10px {
  margin-top: 0.266666666667rem;
}

.displayBlock {
  display: block;
}

.fl {
  float: left;
}

.width30px {
  width: 0.8rem;
}

.textAlign_C {
  text-align: center;
}

#page1,
#page2,
#page3,
#page4,
#page5 {
  position: relative;
}

#

.section-text {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  background-color: greenyellow;
}

.section2 {
  background-color: purple;
}

.section3 {
  background-color: greenyellow;
}

.section4 {
  background-color: green;
}

.section5 {
  background-color: purple;
}




.p1_1 {
  background-color: #679DFF;
}

.p1_2 {
  background-color: #ffd400;
}

.bell {
  position: absolute;
  left: 2.2rem;
  top: 2rem;
}

.bell2 {
  position: absolute;
  right: 4.3rem;
  top: 2rem;
}

.se_con .s6_h2 {
  position: relative;
  color: #3592FF;
  font-size: 0.64rem;

  top: 5%;
  width: 90%;
  margin: 0 auto;
  margin-top: 0;
}


#message {
  display: block;
  width: 8.0rem;
  margin: 0 auto;
  margin-top: 1.8rem;
}

.blueBtn {
  margin: 1.066666666667rem auto;
  display: block;
  color: #fff;
  font-size: 0.4rem;
  line-height: 0.426666666667rem;
  padding: 0.32rem 0;
  width: 3.733333333333rem;
  text-align: center;
  background: #679DFF;
  border-radius: 0.533333333333rem;
}

#sharetofriend {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #666;
  font-size: 0.373333333333rem;
  height: 1.066666666667rem;
  line-height: 1.066666666667rem;
  width: auto;
}

#sharetofriend:before {
  content: '';
  background: url("../img/sharelines.png") 0 0 no-repeat;
  display: block;
  position: absolute;
  left: -1.333333333333rem;
  top: 50%;
  width: 0.986666666667rem;
  height: 1px;
}

#sharetofriend:after {
  content: '';
  background: url("../img/sharelines.png") 0 -1px no-repeat;
  display: block;
  position: absolute;
  right: -1.333333333333rem;
  top: 50%;
  width: 0.986666666667rem;
  height: 1px;
}

#topgif {
  position: fixed;
  z-index: 20000;
  left: 50%;
  width: 0.6rem;
  margin-left: -0.3rem;
  bottom: 5%;
}

.phoneimg {
  width: 100%;
  height: 100%;
}

.phoneimg img {
  display: block;
  margin: 0 auto;
  /* height: 100%; */
  /* width: auto; */
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

footer {
  height: 1.333333333333rem;
  width: 100%;
  position: relative;
  /* box-shadow: 0 -25px 20px #fff; */
  z-index: 2000;
}

.donwloadbox {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #ec7005;
  color: #fff;
  font-size: 0.426666666667rem;
}

.donwloadbox a {
  display: inline-block;
  font-size: 0.32rem;
  color: #fff;
  position: relative;
  padding-right: 24px;
}

.donwloadbox a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/download.png') center no-repeat;
  background-size: 100%;
  position: absolute;
  right: -5px;
  top: -6px;

}

.ios .tableCell {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.android .tableCell {
  vertical-align: middle;
  height: 100%;
  width: 50%;
}

.android .tableCell+.tableCell {
  border-left: 1px solid #fff;
}

.tableCell {
  display: table-cell;
}

@media only screen and (max-width:320px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  html {
    font-size: 37.5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 41.4px;
  }
}

@media only screen and (max-height:481px) {
  html {
    font-size: 28px;
  }
}

